<head>
  <link rel="stylesheet" type="text/css" href="~/css/addquestion.css">
</head>

@model Question
<div class="limiter">

  <div class="container-login100">
    <div id="content">
      <form asp-action="Bt_Add_Questions" asp-controller="Home" method="post">

        <div class="form-group">
          <label for="inputAddress" id="head">Question</label>
          <input asp-for="QuestionText" type="text" class="form-control" id="inputAddress"
            placeholder="Add question here...">
        </div>
        <input type="hidden" asp-for="RoomID" value="@ViewBag.RoomID">

        <select class="form-control" asp-for="Timerplayer">
          <option value="10">10 seconds</option>
          <option value="15">15 seconds</option>
          <option value="20">20 seconds</option>
        </select>
        <br>
        <button type="submit" id="bt">Add Question</button>
      </form>
    </div>
  </div>
</div>

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>