<head>
<link rel="stylesheet" type="text/css" href="~/css/createroom.css">
</head>

<div class="container-login100">
    @model Room
    <div id="createroom">
        <h1>Create a new Room</h1><br>
        <form asp-action="Bt_Create_New_Room" asp-controller="Home" method="post">
            <h2>Room Code:<br><input type="text" asp-for="RoomCode" class="input100"></h2><span asp-validation-for="RoomCode"></span>
            <button id=button class="login100-form-btn">Create</button>
        </form>
    </div>

</div>