<head>
    <link rel="stylesheet" type="text/css" href="~/css/dash.css">
</head>


<div class="limiter">

    <div class="container-login100">

        <div class="wrap-login100">
            <h1 id="headques">Do you want to play as?</h1><br>
            <a href="/createroom"><button type="button" class="btn btn-lg bg-danger" id="width40">As Host</button></a>&nbsp;
            <a href="/enterroom"><button type="button" class="btn btn-lg bg-warning text-dark" id="width40">As Player</button></a>
        </div>


    </div>
</div>

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>