<head>
    <link rel="stylesheet" type="text/css" href="~/css/dashboard.css">
</head>


<div class="container-login100">

        <div id="box">
         <img id="logo" src="~/images/offyes.png" alt="IMG">
            <h1 id="headques">Do you want to play as?</h1><br>
            <a href="/createroom"><button type="button" id="host">As Host</button></a>&nbsp;
            <a href="/enterroom"><button type="button" id="player">As Player</button></a>
        </div>

</div>

