<head>
    <link rel="stylesheet" type="text/css" href="~/css/dash.css">
</head>

<div class="limiter">

    <div class="container-login100">

        <div class="wrap-login100">
            <div class="width50"><p class="p-3 mb-2 bg-success text-white">Chupa chups tiramisu gummi bears chocolate ice cream. Gingerbread </p></div>&nbsp;
            <div class="width50"><p class="p-3 mb-2 bg-danger text-white">Answer 2 </p></div>
            <br><br>
            <div class="width50"><p class="p-3 mb-2 bg-warning text-dark">Chupa chups tiramisu gummi bears chocolate ice cream. Gingerbread </p></div>&nbsp;
            <div class="width50"><p class="p-3 mb-2 bg-info text-white">Chupa chups tiramisu gummi bears chocolate ice cream. Gingerbread </p></div>
        </div>


    </div>
</div>

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>