<head>
    <link rel="stylesheet" type="text/css" href="~/css/displayanswer.css">
</head>


    <div class="container-login100">

        <div id="answers">
            
            
            <a href="/BtAnswer/@ViewBag.Ans1ID/@ViewBag.PlayerRoomID/@ViewBag.PlayerQuestionID"><p id="answer1">@ViewBag.Ans1</p></a>
            <a href="/BtAnswer/@ViewBag.Ans2ID/@ViewBag.PlayerRoomID/@ViewBag.PlayerQuestionID"><p id="answer2">@ViewBag.Ans2 </p></a>
            

        
            <a href="/BtAnswer/@ViewBag.Ans3ID/@ViewBag.PlayerRoomID/@ViewBag.PlayerQuestionID"><p id="answer3">@ViewBag.Ans3 </p></a>
            <a href="/BtAnswer/@ViewBag.Ans4ID/@ViewBag.PlayerRoomID/@ViewBag.PlayerQuestionID"><p id="answer4">@ViewBag.Ans4 </p></a>
        
        </div>


    </div>
