<head>
   <link rel="stylesheet" type="text/css" href="~/css/enterroom.css">
</head>

    <div class="container-login100">
        <div id="enterroom">
        <img id="logo" src="~/images/offyes.png" alt="IMG">
        <form action="/btEnterRoom" method="POST">
            <div class="validate-input" data-validate="Room Passcode is required">
                <input class="input100" type="text" name="RoomCode" placeholder="Enter Room Passcode">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <input type="submit" value="Enter Room" class="login100-form-btn">
        </form>
        </div>
    </div>
