<div class="limiter">

    <div class="container-login100">

        <form action="/action_page.php">
            <div class="validate-input" data-validate="Room Passcode is required">
                <input class="input100" type="text" name="pass" placeholder="Enter Room Passcode">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div><br><br>
            <input type="submit" value="Enter Room" class="login100-form-btn">
        </form>


    </div>
</div>





<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>