<head>
  <link rel="stylesheet" type="text/css" href="~/css/hostgameover.css">
</head>

    <div class="container-login100">

        <div id="gameover">
        <h1>Bravo Game Successful!!!!</h1>
        <img id="success" src="~/images/suc1.gif" alt="IMG">
        <h1>Now relax and wait for others to complete</h1>
        <a href="/result/@ViewBag.RoomID"><button class="btn btn-danger">View Ranking</button></a>
        </div>
    </div>


