<style>
    #createroom{
    background-color: white;
    border-radius:10px;
    padding: 20px;
    border: 1px solid black;
    }
    #roomcode{
        margin-left: 57px;
    }
    h2{
        text-align: center;

    }
    .rightbt{
        float: right;
        width: 80px;
    }
</style>
<div class="container-login100">
    <a href="/aa"><button class="btn btn-primary rightbt">Next</button></a>
    <div id="createroom">
        <h2>Time Count Down: 20</h2><br>
        <h4>Brownie caramels tart caramels wafer croissant chupa chups apple pie. Tart caramels cake gummies liquorice liquorice lemon drops</h4>

    </div>

</div>