<head>
    <link rel="stylesheet" type="text/css" href="~/css/playergameover.css">
</head>


    <div class="container-login100">
        <div id="pgame">
        <h1>Game Over</h1>
        <img id="logo" src="~/images/kirb.gif" alt="IMG">
        <h2>Check the main screen for the final results!</h2>
        <a href="/logout"><button class="button">Done</button></a>
        </div>
    </div>


<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>