<head>
   <link rel="stylesheet" type="text/css" href="~/css/resultpage.css">
</head>


<div class="container-login100">

    <div id="box">
    <img id="fireworks" src="~/images/fireworks.gif" alt="IMG">
        <h1>Final Results!</h1>
        <img id="fireworks" src="~/images/fireworks.gif" alt="IMG">
        <table class="table">
            <tr>
                <th>Ranking</th>
                <th>Player</th>
                <th>Player Score</th>
            </tr>
            <tr>
                <td>#1</td>
                <td>Daniel</td>
                <td>Some PlayerScore</td>
            </tr>
        </table>
        <a href=""><button class="btn btn-danger">Play Again?</button></a>
    </div>

</div>