
<head>
   <link rel="stylesheet" type="text/css" href="~/css/userready.css">
</head>


    <div class="container-login100">
        <div id="userready">
        <h1>You're set to go!<br><br>Wait for Others to Join...</h1>
        <img id="face" src="~/images/gameface.gif" alt="IMG"><br>
        <a href="/displayanswers/@ViewBag.PlayerRoomID/@ViewBag.num"><button id="bt">Start Game</button></a>
        </div>
    </div>


<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>