#content{
border: 3px solid black;
padding: 20px;
background:white;
border-radius:10px;
width: 900px;
box-shadow: 10px 10px 10px black;
}

#head{
    font-size: 250%;
}

#bt{
    float:right;
    margin-top: 20px;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color:white;
    font-size: 120%;
    box-shadow: 10px 10px 10px black;
}
  