#box{
    width: 960px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    width: 600px;
    box-shadow: 10px 10px 10px black;
  }

  #host{
    background-color: #e83333;
    border-radius: 6px;
    padding:5px;
    width: 120px;
    color: white;
    font-size: 120%;
    margin-bottom: 25px;
  }
  #player{
    background-color: #e2b22d;
    border-radius: 6px;
    padding:5px;
    width: 120px;
    color: black;
    font-size: 120%;
    margin-bottom: 25px;
    margin-left: 30px;
  }