#pgame{
    border: 3px solid black;
    background: white;
    padding:20px;
    border-radius: 20px;
    text-align: center;
    animation-name: slidein;
    animation-duration: 3s;
    box-shadow: 10px 10px 10px black;
}
h1{
    font-size: 270%;
    color:green;
}

@keyframes slidein {
    from {
        margin-top:100%
    }
    to{
        margin-top: 0%;
    }
}

.button{
    margin-top: 20px;
    background-color: palevioletred;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color:white;
    font-size: 150%;
    box-shadow: 10px 10px 10px black;
}