#register{
    border: 3px solid black;
    background: white;
    padding:20px;
    text-align: center;
    box-shadow: 10px 10px 100px white;
    border-radius: 15px;
}
#logo{
    width:150px;
    height:150px;
}