#fireworks{
    /* position: absolute; */
    z-index:0; 
    width: 100px;
    height:100px;
    display: inline-block;
}
#box{
    border: 3px solid black;
    padding:20px;
    background-color: palevioletred;
    border-radius: 10px;
    width: 55%;
    text-align: center;
    animation-name: slidein;
    animation-duration: 4s;
    z-index:0;
    box-shadow: 10px 10px 10px black;
    min-height: 400px;

}
td{
    color: black;
    font-size: 150%;
    text-shadow: 2px 2px 5px green;
}
th{
    font-size: 200%;
    text-align: center;
    color: lightcyan;
    text-shadow: 2px 2px 5px red;
    
}
h1{
    color: lightcyan;
    text-shadow: 2px 2px 5px red;
    margin-bottom:20px;
    display: inline-block;
}

@keyframes slidein {
    from {
        margin-top:100%
    }
    to{
        margin-top: 0%;
    }
}
.box {
    width: 960px;
    background: palevioletred;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 95px;
    text-align: center; 
  }
  @media (max-width: 576px) {
    .box {
        margin-top: -150px;
        display: inline-table;
      vertical-align: top;
      padding: 40px 12px;
      justify-content: space-between;
    }
}